.container-bg {
  max-width: 1300px;
  margin: 0 auto;
}

.container-zero {
  padding: 0;
}

.container-zero .container {
  padding: 0;
}

.container-zero.container-bg {
  padding: 0;
  overflow: hidden;
}